$primary1: #111119;
$primary: #35353c;
$button: #ff7d19;
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logo {
    height: 80px;
    display: flex;
    justify-self: start;
    background: #111119;
    color: #fff;
    span {
      align-self: flex-end;
      margin-left: -80px;
      padding: 5px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    background: #fff;
    align-self:center;
  }
}
