$primary: #ff7d19;
.App {
  display: flex;
  flex-direction: column;
  background: #ebebeb;
  min-height: 100vh;
  .logo {
    height: 80px;
    display: flex;
    justify-self: start;
    background: #111119;
    color: #fff;
    span {
      align-self: flex-end;
      margin-left: -80px;
      padding: 5px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    align-self: center;
    .error {
      color: red;
      align-self: center;
      margin: 30px 0px;
      font-size: 18px;
    }
  }
}
