body {
  font: normal normal bold 15px Roboto, Arial, Verdana, "Liberation Sans", "Bitstream Vera", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
* {
  margin: 0;
  padding: 0;
}
